.git
.gitignore
.turbo
**/.turbo
**/node_modules
**/dist
**/.next
**/.cache
**/.env
**/.env.*
**/coverage
npm-debug.log
yarn-error.log
pnpm-debug.log
*.log
.DS_Store
Thumbs.db
packages/db/prisma/migrations
packages/db/prisma/generated
